
* {
    font-size: 62.5%;
}

body h1 {
    color: red;
    font-size: 8rem;
    text-align: center;
}
body {
    background-color: bisque;
}
body form {
    font-size: 4rem;
    width: 50%;
    margin: 0 auto;
}